.copyright-a-labai {
    position: relative;
    display: inline-block;
    width: 431px;
    height: 14px;
    flex-shrink: 0;
  }
  .copyright-a-labai-2023-all-wrapper {
    position: absolute;
    top: 36px;
    left: 35px;
    background-color: var(--color-azure);
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    width: 1280px;
    height: 880px;
    display: flex;
    flex-direction: column;
    padding: 40px 424px;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-end;
    font-size: var(--font-size-sm);
    color: var(--color-gray-200);
    font-family: var(--font-krona-one);
  }
  .online-testamico-icon {
    position: absolute;
    height: 68.36%;
    width: 48.61%;
    top: 15.82%;
    right: 42.36%;
    bottom: 15.82%;
    left: 9.03%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .log-in1 {
    position: relative;
    font-size: var(--font-size-lg);
    font-family: var(--font-krona-one);
    color: var(--color-black);
    text-align: left;
    display: inline-block;
    width: 71px;
    height: 17.81px;
    flex-shrink: 0;
  }
  .log-in {
    cursor: pointer;
    border: 0;
    padding: 19.6875px var(--padding-47xl);
    background-color: var(--color-lightblue);
    position: absolute;
    top: 554px;
    left: 990px;
    border-radius: var(--br-xl);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 206px;
    height: 60px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .log-in-using {
    position: relative;
    font-size: 12px;
    font-family: var(--font-krona-one);
    color: var(--color-black);
    text-align: left;
    display: inline-block;
    width: 184px;
    height: 18px;
    flex-shrink: 0;
  }
  .log-in2 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-lightblue);
    position: absolute;
    top: 738px;
    left: 990px;
    border-radius: var(--br-xl);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 206px;
    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  .email,
  .password,
  .usertype {
    border: 0;
    font-family: var(--font-roboto);
    font-size: var(--font-size-xl);
    background-color: transparent;
    position: absolute;
    left: 973px;
    color: var(--color-darkgray-100);
    width: 265px;
    height: 23px;
    
  }
  .usertype {
    top: 342px;
    color: #000000;
    text-align: justify;
    display: inline-block;
  }
  .email,
  .password {
    top: 409px;
    text-align: left;
    display: flex;
    align-items: flex-end;
  }
  .password {
    top: 477px;
    color: #000000;
    height: 23px;
  }
  .email
  {
    color: #000000;
  }
  .desktop-2-child,
  .desktop-2-inner,
  .desktop-2-item {
    position: absolute;
    top: 434px;
    left: 972.5px;
    border-top: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 266px;
    height: 1px;
  }
  .desktop-2-inner,
  .desktop-2-item {
    top: 502px;
  }
  .desktop-2-inner {
    top: 367px;
  }
  .forgot-password {
    text-decoration: none;
    position: absolute;
    top: 514px;
    left: 1110px;
    color: inherit;
    text-align: left;
    display: flex;
    align-items: flex-end;
    width: 132px;
    height: 20px;
  }
  .line-div {
    position: absolute;
    top: 684.5px;
    left: 899.5px;
    border-top: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 385px;
    height: 1px;
  }
  .create-an-account {
    color: #36c;
  }
  .not-registered-create-container {
    text-decoration: none;
    position: absolute;
    top: 702px;
    left: 968px;
    display: inline-block;
    width: 243px;
    height: 20px;
    cursor: pointer;
    color: inherit;
  }
  .lab,
  .vector-icon {
    position: absolute;
    top: 2px;
    left: 6px;
    width: 55px;
    height: 49px;
  }
  .lab {
    top: 27px;
    left: 22px;
    font-size: var(--font-size-4xs);
    font-family: var(--font-krona-one);
    color: var(--color-black);
    text-align: left;
    display: inline-block;
    width: 42px;
    height: 14px;
  }
  .vector-parent {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-black);
    position: absolute;
    top: 211px;
    left: 1076px;
    border-radius: var(--br-341xl);
    width: 67px;
    height: 67px;
    overflow: hidden;
  }
  .desktop-2 {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1024px;
    overflow: hidden;
    text-align: justify;
    font-size: var(--font-size-base);
    color: var(--color-black);
    font-family: var(--font-roboto);
  }
  