
:root {
    --bg: #EDF2F0;
    --neu-1: #e2e2e2;
    --neu-2: #c2cbd7;
    --white: #f9f9f9;
    --gray: #b8c3ff;
    --black: #181818;
    --purple: #4B70E2;
    --transition: 1.25s;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Krona one','Montserrat', sans-serif;
    font-size: 11px;
    background-color: #A3CDFF;
    color: rgb(0, 0, 0);
} 

.parent {
    display: flex;
    flex-direction: column;
   /* align-items: center;*/
    gap: 10px;
    justify-content: center;
    background-color: #B8FFF7;
    border-color: black;
    font-family: 'Krona one';     
    font-size: 22px;
    padding: 40px 40px;
    margin: 5px 5px;  
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    box-shadow: 10px 10px 10px var(--neu-2), -10px -10px 10px var(--white);
}

.child1 {
    display: flex;
    flex-direction: column; /* Arrange elements side by side */
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    width: 100%; /* Ensure full width */
    overflow-y: hidden;
}
.contain{
    display: flex;
    align-items: flex-start;
    flex-direction: row; /* Arrange elements side by side */
    gap: 50px;
    justify-content: space-between;
    width: 100%; /* Ensure full width */
}

.text {
    flex: 1; /* Allow text to take up remaining space */
}

.text h1 {
    font-size: 34px;
    margin: 0;
    padding: 5px;
}
.text h4 {
    margin: 0;
    padding: 5px;
    
}

.image {
    max-width: 100%;
    height: auto;
}
.box{
    flex-direction: row; /* Stack elements in mobile view */
    display: flex;
    gap:70px;
    text-align: center;
    background: linear-gradient( 180deg, rgba(255, 255, 255, 0.75) 99.99%, rgba(255, 255, 255, 0) );
    padding: 40px 80px;
    width: 680px;
    z-index: 2;
    
}
.loginbutton{
    width: 100%;
    background-color: #8187FF;
    text-align: left;
    border-radius: 0 4px 4px 0;
    border:0;
    cursor: pointer;
    padding: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 11px;
}
.loginbutton:hover{
    text-decoration: underline;
    transition: text-decoration 0.3s ease;
    background-color: #fff;
}

@media (max-width: 768px) {
    .child1 {
        flex-direction: column; /* Stack elements in mobile view */
        align-items: center;
        text-align: center;
    }
    .navigation {
    justify-content: center;
    }

    .image-container {
    align-items: center;
    }
    .box{
        justify-content: center;
        gap: 30px;
    }
    .info{
        align-items: center;
    }
    .contain{
        flex-direction: row; /* Stack elements in mobile view */
        align-items: flex-start;
        gap: 20px;
        overflow-x: scroll;
    }
    .bg{
        align-items: center;
    }
    .bg img{
        width: 288px;
        min-height: 132.6px;
        max-width: 100%;
        max-height: 532.6px;
    }
}        
.header{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.image-container {
    display: flex;
flex-direction: row;
align-items: flex-start;
}
.na{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.image-container1 {
    display: flex;
flex-direction: row;
align-items: flex-start;
}

.hr1 {
    box-sizing: border-box;
    border-top: 1px solid #000;
    height: 1px;
}
.name{
    border: 0;
    font-family: "ABeeZee";
    font-size: 16px;
    background-color: transparent;
    text-align: left;
    width: 100%;
}

.drawer{
    max-width: 224px;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex: 1;
    flex-direction: column;
}
.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    padding-top:20px;
    border-radius: 25px 25px 0 0;
    background-color: #A3CDFF;
}
.bottom{
    display: flex;
    flex-direction: column; 
    justify-content: flex-end; 
    height: 300px;
    gap: 3px;
    padding-bottom: 5px;
    background-color: #A3CDFF;
}
.btn{
    width: 100%;
    padding: 12px;
    gap: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.midcontent{
    max-width: 682px;
    width: 100%;
    height: 100%;
    max-height: 724px;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.head{
    display: flex;
    flex-direction: row;
    padding: 5px;
    gap: 10px;
    background-color: #91D7FF;
    border-radius: 4px 4px 4px 4px;
    width: max-content;
}
.hbt{
    background-color: #C6F8FF;
    text-align: center;
    border-radius: 4px 4px 4px 4px;
    border:0;
    cursor: pointer;
    padding: 5px 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 11px;
}
.hbt:hover{
    text-decoration: underline;
    transition: text-decoration 0.3s ease;
    background-color: #fff;
}
.low{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    gap: 20px;
    height: 700px; /* Set the maximum height for the scrollable container */
    overflow-y: scroll;
    z-index: 1;
    position: relative;
    background-image: url("{% static '\assests\mentordashboard\rafiki.svg' %}");
    background-size: contain;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #89A0FF;
    width: 100%;
    min-height: 210px;
    max-height: 218px;
    border-radius: 30px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
    opacity: 0.95;
    
}
.card2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #89A0FF;
    width: 100%;
    min-height: 210px;
    max-height: 218px;
    border-radius: 30px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 30px;
    opacity: 0.95;
}
.ch{
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: transparent;
}
.date{
    background-color: #68A7D5;
    text-align: center;
    border-radius: 0 25px 25px 0;
    border:0;
    padding: 5px 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 11px;
}
.data{
    background-color: #95BFFF;
    text-align: center;
    border-radius: 8px 8px 8px 8px;
    border:0;
    padding: 5px 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 11px;
}
.cl{
    display: flex;
    max-height: 34px;
    flex-direction: row;
    justify-content: space-between;
}
.time{
    padding: 5px 20px;
    border-radius: 25px 25px 25px 25px;
    justify-content: space-between;
    background-color: #83FFDA;
    font-size: 11px;
}
.atmpt{
    background-color: #82CBFF;
    text-align: center;
    border-radius: 8px 8px 8px 8px;
    border:0;
    cursor: pointer;
    padding: 5px 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 11px;
}
.atmpt:hover{
    text-decoration: underline;
    transition: text-decoration 0.3s ease;
    background-color: #fff;
}
.rightcont{
    display: flex;
    flex-direction: column;
    max-width: 262px;
    width: 100%;
    height: 100%;
    max-height: 724px;
    border-radius: 10px 10px 0 0;
    gap: 20px;
}
.rhead{
    text-align: center;
    width: 100%;
    background-color: #8EC2FF;
    font-size: 11px;
    padding: 10px 10px;
    border-radius: 17px 0 0 17px;
    border: 0;
}
.rlow{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    gap: 5px;
    height: 700px; /* Set the maximum height for the scrollable container */
    overflow-y: scroll;
}
.rcard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to right, white 60px, #687999 60px);
    width: 100%;
   
    max-height: 400px;
    gap: 5px;
    border-radius: 4px 4px 4px 4px;
    padding: 10px;
}
.rch{
    font-size: 11px;
    background-color: transparent;
    max-height: 40px;
    display: flex;
    gap:5px;
}
.rtime{
    background-color: transparent;
    padding: 5px;
    font-size: 11px;
    display: flex;
    align-items: center;
    gap: 25px;
}
.topicmat{
    margin-left: 50px;
    padding: 10px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    width: 75%;
}
.topic,.mat{
    font-size: 11px;
    min-height: 50px;
    color: #fff;
}
.bg{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    opacity: 0.2;
    z-index: 2;
}
.link{
    color: #000;
    text-decoration: none;
}
.navbar{
    display: flex;
    flex-direction: row;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: transparent;
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    color: #000;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}
/* Style the dropdown menu */
.navbar ul ul {
    position: absolute;
    display: none;
    background-color: var(--white);
}
.navbar ul ul li {
    display: block;
    font-size: 11px;
}

.navbar li:hover ul {
    display: flex;
    flex-direction: column;
    width: max-content;

}
/* Change the background color of dropdown links on hover */
.navbar ul ul li a:hover {
    background-color: #8187FF;
    text-decoration: underline;
}

.btn a {
    display: inline-block; /* Prevent anchor from collapsing to its content size */
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */
    width: 100%;
    background-color: #8187FF;
    text-align: left;
    border-radius: 0 4px 4px 0;
    border:0;
    cursor: pointer;
    padding: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 11px;
}
  
.search-container {
    float: right;
  }
  
  .search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    color: #000;
    background-color: #A3CDFF;
    font-family: sans-serif;
    border-radius: 12px 0 0 12px;
  }
  
  .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background-color: #A3CDFF;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 0px 12px 12px 0;
  }
  
  .search-container button:hover {
    background: #ccc;
  }
  .hidden {
    display: none;
}
.cinfo{
    margin: 10px;
    margin-right:30px;
    margin-left:60px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

}
.abtn{
    display: flex;
    align-items: flex-end;

}
.cibtn {
    height: 40px;
    width: 40px;  
    font-size: 1em;
    font-weight: bold;
    border-radius: 50%;
    background-color: #000000;
    color: white;
    text-align: center;
    cursor: pointer;
} 
ul li a {
    color: black;
    text-decoration: none; /* optional: removes underline */
}
ul li a:hover {
    color: white;
}

.custom-title {
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Arial';
}
.filter-container {
    padding: 20px 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    border-radius: 10px;
    }
.fhead{
    margin: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.hmpage{
  border: 0;
  background: none;
}
.description {
overflow-x: hidden;
overflow-y: visible;
white-space: normal;
text-overflow: ellipsis;
width: 295px;
height: 80px;

}

