body {
    background-color: #e0e0e0;
    font-family: 'Arial', sans-serif;
}

form {
    background-color: #e0e0e0;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1), -10px -10px 20px rgba(255, 255, 255, 0.7);
    margin: 50px auto;
    max-width: 500px;
}

h2 {
    text-align: center;
    color: #333;
}

p {
    text-align: center;
    color: #666;
}

input[type="radio"] {
    display:-moz-deck;
}

label {
    display: block;
    padding: 10px;
    margin: 10px 0;
    border-radius: 15px;
    background-color: #e0e0e0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

label:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.8);
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    background-color: #e0e0e0;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(255, 255, 255, 0.7);
    cursor: pointer;
    margin-top: 20px;
}

input[type="submit"]:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.8);
}

#time_remaining {
    display: block;
    text-align: center;
    color: #333;
    font-weight: bold;
}
