body {
    background-color: #e0e0e0;
    font-family: 'Arial', sans-serif;
}

.room-container {
    margin: 50px;
    background-color: #e0e0e0;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1), -10px -10px 20px rgba(255, 255, 255, 0.7);
}

.room-container h1, .room-container h4, .room-container h5, .room-container h3 {
    color: #333;
}

.nest-navbar {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.nest-navbar button {
    background-color: #e0e0e0;
    border: none;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.nest-navbar button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.8);
}

.comment-wrapper {
    border: 2px solid #e0e0e0;
    padding: 10px;
    margin: 20px 0;
    border-radius: 15px;
    background-color: #e0e0e0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(255, 255, 255, 0.7);
}

.midcontent {
    display: grid;
    /* grid-template-columns: 1fr 2fr; */
    align-items: start
    /* gap: 20px; */
}

.head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.hbt {
    background-color: #e0e0e0;
    border: none;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.hbt:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.8);
}

.comment-form {
    margin-top: 20px;
}

.comment-form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: #e0e0e0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(255, 255, 255, 0.7);
}

#viewSelector {
    padding: 10px;
    border-radius: 15px;
    background-color: #e0e0e0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

#viewSelector:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.8);
}
