{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Krona One:wght@400&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=ABeeZee:wght@400&display=swap"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Student Dashboard | A-Lab</title>
    <link rel="icon" type="image/x-icon" href="{% static '/logo.ico' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.print.min.js"></script>

    <link rel="stylesheet" href="{% static '/css/mentordash.css' %}" />
    <script  src="{% static '/js/mentordash.js'%}"></script>
</head>
<body>
    <div class="parent">

        <div style="left: 0px; position: relative;" class="header" >
            <!-- LOGO on LEFT -->
            <div class="image-container">
                
                <a><img style=" max-width: 87px; max-height: 90px; cursor: pointer;" title="A-Lab" src="{% static '\assests\mentordashboard\logo.svg' %}" alt="Image"></a>
                <marquee><h4>Welcome Back! {{request.user.username}}</h4></marquee>
            </div>

            <nav class="navbar">
                <div class="search-container">
                    <input type="text" placeholder="Search here..." name="search">
                    <!-- <button type="submit"><i class="fa fa-search"></i></button> -->
                </div>
                <ul>   
                    <li>
                        <form method="post" action="{% url 'notification_page' %}">
                            {% csrf_token %}
                            <button class="hmpage"><img src="{% static '\assests\mentordashboard\bell.svg' %}" title="Notification" alt="bell"></button>
                        </form>
                    </li>
                    <li>
                        <button class="hmpage"><img src="{% static '\assests\mentordashboard\profile.svg' %}" title="Profile" alt="profile"></button>
                        <ul>
                            <li>
                                <a href="{% url 'profile_page' %}">My profile</a>
                            </li>
                            <li><a href="{% url 'settings_page' %}">Settings</a></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>   

       <!-- PAGE 1 -->
        
            <div class="child1">
                
                <div class="contain">
                
                    <div class = "drawer">
                        <div class = "top">

                            <div class = btn >
                             
                                    <img src="{% static '\assests\mentordashboard\da.svg' %}" title="Dashboard" alt="Logo 1">
                                    <a class="link" href="{% url 'dashboard_student' %}"><button class="loginbutton">Dashboard</button></a>
                              
                            </div>

                            <div class = btn >
                                <img src="{% static '\assests\mentordashboard\find.svg' %}" title="Find test" alt="Logo 1">
                              <a class="link" href="findtest.html"><button class="loginbutton">Find Test</button></a>
                            </div>

                            <div class = btn >
                                <img  src="{% static '\assests\mentordashboard\his.svg' %}" alt="Logo 1">
                                <a class="link" href="{% url 'history_page' %}"><button class="loginbutton">Test History</button></a>
                            </div>

                            <div class = btn >
                                <img  src="{% static '\assests\mentordashboard\res1.svg' %}" alt="Logo 1">
                                <a class="link" href="res.html"><button class="loginbutton">Publish Results</button></a>
                            </div>

                            <div class = btn >
                                <img src="{% static '\assests\mentordashboard\analytics.svg' %}" alt="Logo 1">
                                <a class="link" href="anaytics.html"><button class="loginbutton">Analytics</button></a>
                            </div>        
                        </div>

                        <div class = "bottom">

                            <div class = btn >
                                <img src="{% static '\assests\mentordashboard\logout.svg' %}" alt="Logo 1">
                                <a class="link"  href="{% url 'logout' %}"><button class="loginbutton">Logout</button></a>
                            </div>
                            <div class = btn >
                                <img src="{% static '\assests\mentordashboard\setting.svg' %}" alt="Logo 1">
                                <a class="link" href="{% url 'settings_page' %}"><button class="loginbutton">Settings</button></a>
                            </div>

                        </div>
                        
                    </div>
                    
                    <div class = "midcontent">
                        <div class = "head">
                           
                            <button class="hbt" onclick="showContent(1)">Classrooms</button>
                            <button class="hbt" onclick="showContent(1)">Ongoing Test</button>
                            <button class="hbt" onclick="showContent(2)">Activity</button>
                            <button class="hbt" onclick="showContent(3)">Quick Links</button>
                            <button class="hbt" onclick="showContent(5)">Calendar</button>
                        </div>
                       

                        <div class = "low">
                            <!-- <div class="bg"><img style=" width: 714.28px; min-height: 232.6px; max-width: 100%; ; max-height: 532.6px;" src="rafiki.svg" alt="img"></div> -->
                            
                            <div id="content1" class="low">
                                   
                                {% include 'feed_component.html' %}
                                <!-- <div class="card2">

                                    <img src="{% static '\assests\mentordashboard\bro.svg' %}" alt="cimg">
                                    <div class="cinfo">
                                        <h style="font-size: 24px;"><b>Operating Systems</b></h><br><br>

                                        Learn the operating systems concepts and mechanism in details and their implementation.

                                    </div>
                                    <div class="abtn">
                                        <a href="classroom.html"><button class="cibtn" >></button></a>
                                    </div>
                                    
    
                                </div>

                                <div class="card2">
                                     <img src="{% static '\assests\mentordashboard\ai.svg' %}" alt="cimg">
                                    <div class="cinfo">
                                        <h style="font-size: 24px;"><b>Artificial Intelligence</b></h><br><br>

                                        Intelligence demonstrated by machines, unlike the natural intelligence displayed by human.

                                    </div>
                                    <div class="abtn">
                                        <button class="cibtn">></button>
                                    </div>
                                </div>

                                <div class="card2">
                                    <img src="{% static '\assests\mentordashboard\crdimg.png' %}" alt="cimg">
                                    <div class="cinfo">
                                        <h style="font-size: 24px;"><b>Software Engineering</b></h><br><br>

                                        Learn detailed of engineering to the design, development and maintainece of softeare.

                                    </div>
                                    <div class="abtn">
                                        <button class="cibtn">></button>
                                    </div>
                                </div>
                                <div class="card2">
                                    <img src="{% static '\assests\mentordashboard\crdimg.png' %}" alt="cimg">
                                    <div class="cinfo">
                                        <h style="font-size: 24px;"><b>Computer Networks</b></h><br><br>

                                        Learn the operating systems concepts and mechanism in details and their implementation.

                                    </div>
                                    <div class="abtn">
                                        <button class="cibtn">></button>
                                    </div>
                                </div>
                                <div class="card2">
                                    <img src="{% static '\assests\mentordashboard\crdimg.png' %}" alt="cimg">
                                    <div class="cinfo">
                                        <h style="font-size: 24px;"><b>Data Structures</b></h><br><br>

                                        Learn the operating systems concepts and mechanism in details and their implementation.

                                    </div>
                                    <div class="abtn">
                                        <button class="cibtn">></button>
                                    </div>
                                </div>
                                <div class="card2">
                                    <img src="{% static '\assests\mentordashboard\db.svg' %}" alt="cimg">
                                    <div class="cinfo">
                                        <h style="font-size: 24px;"><b>D.B.M.S</b></h><br><br>

                                        Learn the operating systems concepts and mechanism in details and their implementation.

                                    </div>
                                    <div class="abtn">
                                        <button class="cibtn">></button>
                                    </div>
                                </div> -->


                            </div>

                            <div id = "content2" class="hidden">
                              <div class="low">
                                
                                <div class="card">

                                    <div class="ch">
    
                                        <div class="date" title="Exam Date">26 July</div>
                                        <div class = "data" title="Subject/Topic">C++ OOPs Concepts</div>
                                        <div class="data">#10 Questions &nbsp; &nbsp; MCQ</div>
                                    </div>
    
                                    <div class="cl">
    
                                        <div class="time" title="Duration">
                                            <img src="{% static '\assests\mentordashboard\timer.svg' %}" alt="Logo 1"> 15 Minutes
                                        </div>
                                        <button class="atmpt">Attempt Now</button>
                                    </div>
    
                                </div>
                                <div class="card">
                                    <div class="ch">
    
                                        <div class="date" title="Exam Date">26 July</div>
                                        <div class = "data" title="Subject/Topic">Java introduction</div>
                                        <div class="data">#10 Questions &nbsp; &nbsp; MCQ</div>
                                    </div>
    
                                    <div class="cl">
                                        
                                        <div class="time" title="Duration">
                                            <img src="{% static '\assests\mentordashboard\timer.svg' %}" alt="Logo 1"> 15 Minutes
                                        </div>
                                        <button class="atmpt">Attempt Now</button>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="ch">
    
                                        <div class="date" title="Exam Date">26 July</div>
                                        <div class = "data" title="Subject/Topic">COA Concepts</div>
                                        <div class="data">#10 Questions &nbsp; &nbsp; MCQ</div>
                                    </div>
    
                                    <div class="cl">
                                        
                                        <div class="time" title="Duration">
                                            <img src="{% static '\assests\mentordashboard\timer.svg' %}" alt="Logo 1"> 15 Minutes
                                        </div>
                                        <button class="atmpt">Attempt Now</button>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="ch">
    
                                        <div class="date" title="Exam Date">26 July</div>
                                        <div class = "data" title="Subject/Topic">PYTHON PROG</div>
                                        <div class="data">#10 Questions &nbsp; &nbsp; MCQ</div>
                                    </div>
    
                                    <div class="cl">
                                        
                                        <div class="time" title="Duration">
                                            <img src="{% static '\assests\mentordashboard\timer.svg' %}" alt="Logo 1"> 15 Minutes
                                        </div>
                                        <button class="atmpt">Attempt Now</button>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="ch">
    
                                        <div class="date" title="Exam Date">26 July</div>
                                        <div class = "data" title="Subject/Topic">DATA SCIENCE</div>
                                        <div class="data">#10 Questions &nbsp; &nbsp; MCQ</div>
                                    </div>
    
                                    <div class="cl">
                                        
                                        <div class="time" title="Duration">
                                            <img src="{% static '\assests\mentordashboard\timer.svg' %}" alt="Logo 1"> 15 Minutes
                                        </div>
                                        <button class="atmpt">Attempt Now</button>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="ch">
    
                                        <div class="date" title="Exam Date">26 July</div>
                                        <div class = "data" title="Subject/Topic">DATA SCIENCE</div>
                                        <div class="data">#10 Questions &nbsp; &nbsp; MCQ</div>
                                    </div>
    
                                    <div class="cl">
                                        
                                        <div class="time" title="Duration">
                                            <img src="{% static '\assests\mentordashboard\timer.svg' %}" alt="Logo 1"> 15 Minutes
                                        </div>
                                        <button class="atmpt">Attempt Now</button>
                                    </div>
                                </div>
                                
                                </div>

                            </div>

                            <div id = "content3" class="hidden"></div>

                            <div id = "content4" class="hidden">
                                <div class="low">
                                  
                                  <div class="card">
                                    <div class="cinfo">
                                        <h style="font-size: 24px;"><b>Operating Systems</b></h><br><br>
                                        <ul>
                                            <li><a href="https://www.geeksforgeeks.org/operating-systems/">Operating System Tutorial - GeeksForGeeks</a></li>
                                            <li><a href="https://www.tutorialspoint.com/operating_system/os_overview.htm">Operating System Overview - Tutorials Point</a></li>
                                            <li><a href="https://www.javatpoint.com/operating-system">Operating System - JavaPoint</a></li>
                                        </ul>
                                    </div>
                                      
      
                                  </div>
                                  <div class="card">
                                    <div class="cinfo">
                                        <h style="font-size: 24px;"><b>Computer Networks</b></h><br><br>
                                        <ul>
                                            <li><a href="https://www.geeksforgeeks.org/basics-computer-networking/">Basics of Computer Networking - GeeksForGeeks</a></li>
                                            <li><a href="https://www.javatpoint.com/computer-network-tutorial">Computer Networks Tutorial - Tutorials Point</a></li>
                                            <li><a href="https://www.cisco.com/c/en_in/solutions/enterprise-networks/what-is-computer-networking.html">What is Computer Networking - Cisco</a></li>
                                        </ul>
                                    </div>
                                  </div>

                                  <div class="card">
                                      <div class="cinfo">
                                        <h style="font-size: 24px;"><b>Database Management</b></h><br><br>
                                        <ul>
                                            <li><a href="https://www.geeksforgeeks.org/dbms/">Database Management System - GeeksForGeeks</a></li>
                                            <li><a href="https://www.tutorialspoint.com/dbms/index.htm">DBMS Overview - Tutorials Point</a></li>
                                            <li><a href="https://www.javatpoint.com/dbms-tutorial">DBMS Tutorial - JavaPoint</a></li>
                                        </ul>
                                    </div>
                                  </div>
                                  
                                  <div class="card">
                                    <div class="cinfo">
                                        <h style="font-size: 24px;"><b>Artifical Intelligence</b></h><br><br>
                                        <ul>
                                            <li><a href="https://www.geeksforgeeks.org/artificial-intelligence-geeksforgeeks/">Artificial Intelligence - GeeksForGeeks</a></li>
                                            <li><a href="https://www.tutorialspoint.com/artificial_intelligence/index.htm">AI Overview - Tutorials Point</a></li>
                                            <li><a href="https://www.javatpoint.com/artificial-intelligence-tutorial">AI Tutorial - JavaPoint</a></li>
                                        </ul>
                                    </div>
                                  </div>

                                  <div class="card">
                                      <div class="cinfo">
                                        <h style="font-size: 24px;"><b>Computer Organization</b></h><br><br>
                                        <ul>
                                            <li><a href="https://www.geeksforgeeks.org/operating-systems/">Operating System Tutorial - GeeksForGeeks</a></li>
                                            <li><a href="https://www.tutorialspoint.com/operating_system/os_overview.htm">Operating System Overview - Tutorials Point</a></li>
                                            <li><a href="https://www.javatpoint.com/operating-system">Operating System - JavaPoint</a></li>
                                        </ul>
                                    </div>
                                  </div>

                                  <div class="card">
                                      <div class="cinfo">
                                        <h style="font-size: 24px;"><b>Software Engineering</b></h><br><br>
                                        <ul>
                                            <li><a href="https://www.geeksforgeeks.org/software-engineering/">Software Engineering - GeeksForGeeks</a></li>
                                            <li><a href="https://www.tutorialspoint.com/software_engineering/index.htm">Software Engineering Overview - Tutorials Point</a></li>
                                            <li><a href="https://www.javatpoint.com/software-engineering-tutorial">Software Engineering Tutorial - JavaPoint</a></li>
                                        </ul>
                                    </div>
                                  </div>
                                  
                                  </div>
  
                            </div>

                            <div id = "content5" class ="hidden">
                                <iframe src="{% url 'calander_page' %}" width="100%" height="700px" frameborder="0"></iframe>

                                <div class="filter-container">
                                    <div class="fhead">
                                        <input type="date" id="filterDate" style="padding: 5px 5px; font-size: 18px;">

                                        <select id="filterBatch" style="padding: 5px 5px; font-size: 18px;">
                                            <option value="" selected disabled>Batch</option>
                                            <option value="CS510">CS510</option>
                                            <option value="IT52">IT52</option>
                                            <option value="ECM51">ECM51</option>
                                        </select>
                                     
                                        <button class="hbt" style="font-size: 18px;" onclick="filterTests()">Filter Tests</button>
                                     
                                    </div>
                            
                                  </div>
                                
                            </div>

                        </div>
                    </div>


                    <div class="rightcont">

                        <div class="rhead"><b>Upcoming Assessments</b></div>

                        <div class="rlow">

                            <div class="rcard">

                                <div class="rch">
                                    <div class="date" style="width: 110px; max-width:110px; padding-top: 10px;" title="Exam Date">26 JUL</div>
                                    <div title="Subject"><b>Computer Networks</b></div>
                                </div>   

                                <div class="topicmat">
                                    <div class="topic">
                                        <label for="topic">Topics:</label>
                                        
                                    </div>
                                    <div class="mat">
                                        <label for="mat">Material:</label>
                                        
                                    </div>
                                </div>

                                <div class="rtime" title="Exam Time">
                                    <img src="{% static '\assests\mentordashboard\timer.svg' %}" alt="Logo 1">11 : 30 AM  
                                </div>
                            </div>

                            <div class="rcard">

                                <div class="rch">
                                    <div class="date" style="width: 110px; max-width:110px; padding-top: 10px;" title="Exam Date">26 JUL</div>
                                    <div title="Subject"><b>Artifical Intelligence</b></div>
                                </div>   

                                <div class="topicmat">
                                    <div class="topic">
                                        <label for="topic">Topics:</label>
                                        
                                    </div>
                                    <div class="mat">
                                        <label for="mat">Material:</label>
                                        
                                    </div>
                                </div>

                                <div class="rtime" title="Exam Time">
                                    <img src="{% static '\assests\mentordashboard\timer.svg' %}"  alt="Logo 1">11 : 30 AM  
                                </div>
                            </div>

                            <div class="rcard">

                                <div class="rch">
                                    <div class="date" style="width: 110px; max-width:110px; padding-top: 10px;" title="Exam Date">26 JUL</div>
                                    <div title="Subject"><b>Operating Systems</b></div>
                                </div>   

                                <div class="topicmat">
                                    <div class="topic">
                                        <label for="topic">Topics:</label>
                                        
                                    </div>
                                    <div class="mat">
                                        <label for="mat">Material:</label>
                                        
                                    </div>
                                </div>

                                <div class="rtime" title="Exam Time">
                                    <img src="{% static '\assests\mentordashboard\timer.svg' %}" alt="Logo 1">11 : 30 AM
                                </div>
                            </div>

                            <div class="rcard">

                                <div class="rch">
                                    <div class="date" style="width: 110px; max-width:110px; padding-top: 10px;" title="Exam Date">26 JUL</div>
                                    <div title="Subject"><b>Database Management</b></div>
                                </div>   

                                <div class="topicmat">
                                    <div class="topic">
                                        <label for="topic">Topics:</label>
                                        
                                    </div>
                                    <div class="mat">
                                        <label for="mat">Material:</label>
                                        
                                    </div>
                                </div>

                                <div class="rtime" title="Exam Time">
                                    <img src="{% static '\assests\mentordashboard\timer.svg' %}" alt="Logo 1">11 : 30 AM
                                </div>
                            </div>

                        </div>
                    </div>
                 </div>
            </div>
       </div>

    </div>
</body>
</html>





