
{% load static %}
{% block content %}

  {% for classroom in classrooms %}
  <div class="card2">

    <img src="{% static '\assests\mentordashboard\bro.svg' %}" alt="cimg">
    <div class="cinfo">
        <h style="font-size: 24px;"><b>{{ classroom.name }}</b></h><br><br>
        <p class="description">{{ classroom.description }}</p>
        <!-- Learn the operating systems concepts and mechanism in details and their implementation. -->

    </div>
    <div class="abtn">
        <a href="{% url 'classroom_detail' classroom.id %}"><button class="cibtn" >></button></a>
    </div>
    

  </div>
  {% endfor %}

{% endblock %}