{% block content %}
<h2>{{ test.title }}</h2>
<p>Question : {{ question_index }}:</p>
<h2>{{ question.question_text }}</h2>
<script>
  var timeRemaining = {{ time_limit }};  // This will be in seconds
  var timer = setInterval(function () {
    timeRemaining -= 1;
    document.getElementById('time_remaining').innerText = timeRemaining;

    if (timeRemaining <= 0) {
      clearInterval(timer);
      document.forms[0].submit();  // Auto-submit the form when time runs out
    }
  }, 1000);
</script>

<form action="{% url 'take_test' pk=classroom.id test_id=test.id %}" method="post">
  {% csrf_token %}
  <p>Time Remaining: <span id="time_remaining">{{ time_limit }}</span> seconds</p>
    <label type="text" name="option_selected" value="option_a"> {{ question.option_a }}<br>
    <label type="text" name="option_selected" value="option_b"> {{ question.option_b }}<br>
    <label type="text" name="option_selected" value="option_c"> {{ question.option_c }}<br>
    <label type="text" name="option_selected" value="option_d"> {{ question.option_d }}<br>
  
  {{ answer_form.as_p }}
  <input type="hidden" name="current_question_index" value="{{ question_index }}">
  <input type="hidden" name="time_taken" id="time_taken" value="{{ time_limit }}">
  <input type="submit" value="Submit Answer">
</form>


{% endblock %}