
{% load static %}
{% block content %}
<script>
    function funStartExam() {
        swal.fire({
            title: '<strong>BEFORE EXAM LOGIN RULES</strong>',
            icon: 'warning',
            html:
            '<h5 style="font-family: Arial;">ONLINE EXAM RULES TO BE FOLLOWED STRICTLY</h5> &nbsp;' +
                '<ol style="font-family: Arial; padding-left: 20px; text-align:left;">' + 
                '<li style="margin-bottom: 10px;">Don\'t minimize the window, it will be monitored.</li>' + 
                '<li style="margin-bottom: 10px;">Check that your camera is proper.</li>' + 
                '<li style="margin-bottom: 10px;">Don\'t try to use mobile or any other material, it will be monitored and strict action will be taken.</li>' + 
                '<li style="margin-bottom: 10px;">Use calculator which is given by our system, not from your laptop/desktop/mobile.</li>' + 
                '<li style="margin-bottom: 10px;">Don\'t use incognito browser & also check that your cookies are enabled.</li>' + 
                '<li>Any problem occurs call directly to customer care 0120- 124537896 or care@alab.com.</li>' + 
                '</ol>',
            showCancelButton: false,
            focusConfirm: true,
            confirmButtonColor: '#202124',
            confirmButtonText: 'OK, BEGIN EXAM!',
            confirmButtonAriaLabel: 'We are abide by rules!'
        }).then((result) => {
            if (result.isConfirmed) {
                // Redirect to the take_test page
                document.getElementById("examForm").submit();
            }
        })
    }

    document.addEventListener("DOMContentLoaded", function () {
        // Attach click event listener to the Attempt Now button
        document.getElementById("attemptBtn").addEventListener("click", function () {
            // Call the function to show the SwalFire alert
            funStartExam();
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <style>

        .tdes{
        overflow-x: hidden;
        overflow-y: visible;
        white-space: normal;
        text-overflow: ellipsis;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
        }
    </style>

    {% for test_info in test_data %}
    <div class="card">

        <div class="ch">

            <div class="date" title="Exam Date">26 July</div>
            <div class = "data" title="Subject/Topic">{{ test_info.test.title }}</div>
            <div class="data">#{{ test_info.num_questions }} Questions &nbsp; &nbsp; MCQ</div>
        </div>
        <div class="tdes">{{test_info.test.description}}</div>
        <div class="cl">

            <div class="time" title="Duration">
                <img src="{% static '\assests\mentordashboard\timer.svg' %}" alt="Logo 1"> 15 Minutes
            </div>
            <form id="examForm" method="get" action="{% url 'take_test' classroom.id test_info.test.id %}">
                <button id="attemptBtn" class="atmpt" type="button">Attempt Now</button>
            </form>
        </div>

    </div>
    {% endfor %}

{% endblock %}
